shamefully-hoist=true
strict-peer-dependencies=false
auto-install-peers=true
@openzeppelin/transaction-form-builder-core:registry=https://npm.pkg.github.com/
@openzeppelin/transaction-form-types:registry=https://npm.pkg.github.com/
@openzeppelin/transaction-form-utils:registry=https://npm.pkg.github.com/
@openzeppelin/transaction-form-ui:registry=https://npm.pkg.github.com/
@openzeppelin/transaction-form-styles:registry=https://npm.pkg.github.com/
@openzeppelin/transaction-form-react-core:registry=https://npm.pkg.github.com/
@openzeppelin/transaction-form-renderer:registry=https://npm.pkg.github.com/
@openzeppelin/transaction-form-adapter-evm:registry=https://npm.pkg.github.com/
@openzeppelin/transaction-form-adapter-solana:registry=https://npm.pkg.github.com/
@openzeppelin/transaction-form-adapter-stellar:registry=https://npm.pkg.github.com/
@openzeppelin/transaction-form-adapter-midnight:registry=https://npm.pkg.github.com/